<!DOCTYPE html>
<html>

<head>
    <title>Add Product</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="navbar">

        <div class="logo">
            Add Product ➕
        </div>

        <div>
            <a href="/home" class="nav-btn">Home</a>
            <a href="/dashboard" class="nav-btn">Dashboard</a>
        </div>

    </div>

    <div class="form-container">

        <form method="POST" enctype="multipart/form-data">

            <h2>Add New Product</h2>

            <input type="text" name="title" placeholder="Product Title" required>

            <br><br>

            <textarea name="description" placeholder="Description" required></textarea>

            <br><br>

            <select name="category" required>

            <option value="">
                Select Category
            </option>

            <option>
                Electronics
            </option>

            <option>
                Books
            </option>

            <option>
                Cycle
            </option>

            <option>
                Hostel Essentials
            </option>

            <option>
                Lab Equipment
            </option>

            <option>
                Others
            </option>

        </select>

            <br><br>

            <input type="number" name="price" placeholder="Price" required>

            <br><br>

            <input type="file" name="image" accept="image/*" required>

            <br><br>

            <button type="submit">
            Upload Product
        </button>

        </form>

    </div>

</body>

</html>